<body>
    <button class="close-sidebar" id="closeSidebarBtn">✕</button>
    <h2><a href="/">Home</a></h2>
    <h2><a href="/pages/artwork/">Artwork</a></h2>
    <h2><a href="/pages/blogs/">Blogs</a></h2>
    <h2><a href="/pages/fanart/">Fanart</a></h2>
    <h2><a href="https://www.etsy.com/shop/Melontonin" target="_blank" rel="noopener noreferrer">Online Shop</a></h2>
    <h2><a href="https://tatsumelon.weebly.com/" target="_blank" rel="noopener noreferrer">Commissions</a></h2>


    <p>____________________</p>

    <h2>Contact & Main Socials</h2>
    <!-- Styled box for content sections -->
    <div class="box">
        <p>tatsumelon1298
            @gmail.com</p>
        <p><a href="https://www.instagram.com/tatsumelon/" target="_blank">Instagram</a></p>
        <p><a href="https://twitter.com/tatsumelon_" target="_blank">Twitter/X</a></p>
        <p><a href="https://bsky.app/profile/tatsumelon.bsky.social" target="_blank">Bluesky</a></p>
        <p><a href="https://www.youtube.com/@TatsuMelon" target="_blank">Youtube</a></p>
        <!-- <p><a href="https://www.tiktok.com/@tatsumelon" target="_blank">TikTok</a></p> -->
        <!-- <p><a href="https://toyhou.se/TatsuMelon" target="_blank">Toyhouse</a></p> -->
        <!-- <p><a href="https://www.pixiv.net/users/44845081" target="_blank">Pixiv</a></p> -->
    </div>
</body>